In [1]:
import sqlite3
import pandas as pd

In [16]:
PATH = "../database/aibe_coffee.db"

conn = sqlite3.connect(PATH)
cur = conn.cursor()

In [3]:
users = pd.read_sql_query("SELECT * FROM users", conn)
print(users)

    id                user   debt
0    1           RENE GROH   7.70
1    2      HANNAH B BRAUN   4.90
2    3             ALINA S   5.60
3    4        LUISA NEUBIG  12.45
4    5              NIE DA  11.20
5    6             SIMON B   0.00
6    7                ANKI   5.20
7    8               JANNA   4.55
8    9               MAREK   2.70
9   10             JONAS A   2.10
10  11           FRANZISKA   2.40
11  12               SILVI   0.95
12  13                  CJ   2.80
13  14             MARLENE   4.70
14  15                MAJA   5.25
15  16              ANNE K   0.40
16  17              MISCHA  -1.75
17  18            JONAS FU   0.00
18  19            ANNIKA H   0.00
19  20         ANNE SOPHIA   6.55
20  21     JOHANNA MUELLER   2.40
21  22        ANNE BUESSEN   0.70
22  23            BERNHARD   1.55
23  24               SEBII   0.00
24  25      JULIAN FISCHER   0.90
25  26         AHMED SOFAN   0.00
26  27               FABIO   1.05
27  28                RAMY   2.00
28  29            ARKANIVA   0.40
29  30            STUDENTS   6.95
30  31              MARC S   2.40
31  32       BERKAY AKARSU   4.25
32  33             CLAUDIA   3.20
33  34               DRWHO   7.70
34  35               SIMON   7.70
35  36  BELINDA CZIERINSKI   0.35
36  37           KATHARINA   2.10
37  38       LAURA RABADAN   1.20
38  39               PABLO   1.20
39  40              MORITZ   3.00
40  41         FABI WOLLER   3.00
41  42        FLO MEHRKENS   2.45
42  43        FLO MEHRKENS   2.45
43  44              JASMIN   1.30
44  45                AMIN   2.40
45  46               ISLAM   0.00
46  47               ISLAM   0.00
47  48    DAVID BLUMENTHAL   1.10
48  49                PAIR   0.30

In [4]:
consumed_products = pd.read_sql_query("SELECT * FROM consumed", conn)
print(consumed_products)

      id            user    product options  price                  time_stamp
0      1       RENE GROH  americano    milk   0.35  2024-06-03 08:09:02.802201
1      2  HANNAH B BRAUN     coffee    milk   0.35  2024-06-03 08:26:32.067030
2      3         ALINA S     coffee    milk   0.35  2024-06-03 08:57:25.208200
3      4    LUISA NEUBIG     coffee    milk   0.35  2024-06-03 09:00:18.590883
4      5          NIE DA     coffee    milk   0.35  2024-06-03 09:01:02.996801
..   ...             ...        ...     ...    ...                         ...
786  787         ALINA S     coffee    milk   0.35  2024-07-19 01:52:16.162215
787  788    LUISA NEUBIG     coffee    milk   0.35  2024-07-19 01:54:33.343870
788  789          MISCHA     coffee           0.30  2024-07-19 01:54:56.279947
789  790          MISCHA     coffee           0.30  2024-07-19 01:54:57.350460
790  791          NIE DA     coffee    milk   0.35  2024-07-19 01:55:15.582640

[791 rows x 6 columns]

In [26]:
cur.execute("SELECT id, user, cleaning_type, credit, time_stamp FROM cleaning")
cleaning_data = cur.fetchall()
cleaning_data

[(1, 'MISCHA', 'Descaling', 0.5, '2024-07-21 19:30:37.205586'),
 (2, 'MISCHA', 'Side Compartment Cleaning', 1.5, '2024-07-21 19:31:00.084902')]

In [31]:
cur = conn.cursor()
cur.execute("DELETE FROM cleaning")
conn.commit()

In [5]:
paid_debts = pd.read_sql_query("SELECT * FROM debt_paid", conn)
print(paid_debts)

    id             user  amount                  time_stamp
0    1        RENE GROH    0.70  2024-06-03 11:15:21.014219
1    2             ANKI    1.30  2024-06-03 11:38:48.998396
2    3      AHMED SOFAN    0.30  2024-06-21 03:03:39.529995
3    4           ANNE K    0.40  2024-06-25 00:21:44.045414
4    5          ALINA S    5.60  2024-06-30 23:04:50.352893
5    6             ANKI    7.90  2024-06-30 23:04:54.602641
6    7     ANNE BUESSEN    0.35  2024-06-30 23:04:58.192053
7    8      ANNE SOPHIA    0.70  2024-06-30 23:05:02.710227
8    9         ANNIKA H    0.70  2024-06-30 23:05:06.532624
9   10         ARKANIVA    0.40  2024-06-30 23:05:10.254747
10  11         BERNHARD    0.65  2024-06-30 23:05:13.446950
11  12               CJ    4.15  2024-06-30 23:05:16.336602
12  13            FABIO    0.30  2024-06-30 23:05:19.787707
13  14        FRANZISKA    1.20  2024-06-30 23:05:22.797905
14  15   HANNAH B BRAUN    6.30  2024-06-30 23:05:25.921411
15  16            JANNA    4.50  2024-06-30 23:05:29.323304
16  17  JOHANNA MUELLER    4.50  2024-06-30 23:05:40.329181
17  18          JONAS A    3.30  2024-06-30 23:05:43.278799
18  19         JONAS FU    0.90  2024-06-30 23:05:46.720278
19  20   JULIAN FISCHER    2.10  2024-06-30 23:05:52.013625
20  21     LUISA NEUBIG   11.50  2024-06-30 23:05:54.896190
21  22             MAJA    0.35  2024-06-30 23:05:59.308195
22  23            MAREK    5.80  2024-06-30 23:06:02.270519
23  24          MARLENE    7.10  2024-06-30 23:06:05.127179
24  25           MISCHA   10.80  2024-06-30 23:06:08.191702
25  26           NIE DA   13.65  2024-06-30 23:06:10.963281
26  27             RAMY    0.40  2024-06-30 23:06:13.910116
27  28        RENE GROH   10.85  2024-06-30 23:06:16.753366
28  29          SIMON B    0.35  2024-06-30 23:06:21.735180
29  30         STUDENTS    0.40  2024-07-02 03:11:34.151154
30  31         STUDENTS    0.40  2024-07-02 03:12:54.017440
31  32            FABIO    8.75  2024-07-17 03:22:50.929249
32  33           MISCHA   14.10  2024-07-19 15:57:01.955011

In [6]:
import sys
import os
if os.path.abspath(".").endswith("tools"):
    os.chdir("..")

from backend.data_manager import DataManager
data_manager = DataManager("database/aibe_coffee.db")
data_manager.get_users_recently_consumed()

[('AHMED SOFAN', 0, 0.0),
 ('ALINA S', 3.15, 5.599999999999999),
 ('AMIN', 1.5, 2.4),
 ('ANKI', 2.4000000000000004, 5.2),
 ('ANNE BUESSEN', 0.35, 0.7),
 ('ANNE K', 0.4, 0.4),
 ('ANNE SOPHIA', 3.05, 6.549999999999998),
 ('ANNIKA H', 0, 0.0),
 ('ARKANIVA', 0.4, 0.4),
 ('BELINDA CZIERINSKI', 0, 0.35),
 ('BERKAY AKARSU', 3.1, 4.249999999999999),
 ('BERNHARD', 0, 1.5499999999999998),
 ('CJ', 1.75, 2.8000000000000003),
 ('CLAUDIA', 2.0, 3.1999999999999997),
 ('DAVID BLUMENTHAL', 1.1, 1.1),
 ('DRWHO', 6.35, 7.6999999999999975),
 ('FABI WOLLER', 2.4, 2.9999999999999996),
 ('FABIO', 6.3, 1.0499999999999998),
 ('FLO MEHRKENS', 3.5, 2.45),
 ('FRANZISKA', 0.8, 2.4),
 ('HANNAH B BRAUN', 2.0999999999999996, 4.8999999999999995),
 ('ISLAM', 0, 0.0),
 ('JANNA', 3.15, 4.55),
 ('JASMIN', 0, 1.3),
 ('JOHANNA MUELLER', 1.2, 2.4),
 ('JONAS A', 0.8999999999999999, 2.1),
 ('JONAS FU', 0, 0.0),
 ('JULIAN FISCHER', 0.8999999999999999, 0.8999999999999999),
 ('KATHARINA', 1.0499999999999998, 2.1),
 ('LAURA RABADAN', 0.8999999999999999, 1.2),
 ('LUISA NEUBIG', 7.999999999999999, 12.449999999999992),
 ('MAJA', 3.5, 5.249999999999998),
 ('MARC S', 0.8999999999999999, 2.4),
 ('MAREK', 2.3, 2.7),
 ('MARLENE', 2.4, 4.699999999999998),
 ('MISCHA', 10.2, 0.0),
 ('MORITZ', 1.3499999999999999, 3.0),
 ('NIE DA', 7.0, 11.199999999999994),
 ('PABLO', 0.4, 1.2000000000000002),
 ('PAIR', 0.3, 0.3),
 ('RAMY', 0.8, 2.0),
 ('RENE GROH', 4.199999999999999, 7.699999999999997),
 ('SEBII', 0, 0.0),
 ('SILVI', 0.3, 0.95),
 ('SIMON', 4.85, 7.699999999999997),
 ('SIMON B', 0, 0.0),
 ('STUDENTS', 5.5, 6.949999999999999)]